.treebox-widget {
	position: relative;
}

/* treebox */
.treebox-container {
	border-radius: 4px;
	padding: 0 0 10px 0;
	position: relative;
	border: 1px solid #5897fb;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
	z-index: 1;
	background-color: #fff;
}

.treebox-container ul {
	position: relative;
	background-color: #fff;

}


.treebox-container ul.child {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #5897fb;
	top: 0;
	left: 15px;
	border-radius: 4px;
}

.treebox-container li a {
	display: block;
	padding: 10px;
}


.treebox-container a.selected {
	background-color: #3875d7;
	color: #fff;

}

.treebox-container li a small {
	color: #777;
	font-style: italic;
}

.treebox-container a.selected small {
	color: #fff;
}

.treebox-container .breadcrumb {
	margin: 5px 0;
}


.treebox-container .list-unstyled {
	margin-top: 5px;
}

.treebox-container .input-container {
	padding: 5px;
	cursor: pointer;
}

.treebox-container .input-container p {
	margin-bottom: 0;
}

.treebox-container input {
	margin: 10px 0px;
	border-radius: 0;
}

.treebox-container input.form-control:focus {
	box-shadow: none;
	border-color: #777;
}

.treebox-container .list-unstyled {
	max-height: 100px;
	overflow-y: scroll;
}
